# Prepping data for data visualizations

In [5]:
import pandas as pd
import geopandas as gpd
import glob

# load all processed data
for file in glob.glob("../data/processed/*.csv"):
    exec(file.split('/')[-1].replace(".csv", "") + '= pd.read_csv(file)')

### Population percent change, year-over-year

In [8]:
# type: ignore
pop_est_desoto_shelby_ms_1980_2023 = (
    pop_est_desoto_shelby_ms_1970_2023.set_index("Date")
    .pct_change()
    .apply(  # calculate year-over-year percent change
        lambda x: x * 100  # multiple by 100 to make percent more readable
    )
    .reset_index()[
        pop_est_desoto_shelby_ms_1970_2023["Date"] >= "1980-01-01"  # filter after 1980
    ]
)

In [9]:
pop_est_desoto_shelby_ms_1980_2023.to_json('../data/visdata/pop_est_desoto_shelby_ms_1980_2023.json', orient='records')
pop_est_desoto_shelby_ms_1980_2023.head(5)

          Date  Shelby County  DeSoto County  Mississippi
10  1980-01-01       1.094445       1.563089     0.728859
11  1981-01-01      -0.585500       0.513629     0.542263
12  1982-01-01       0.380551       0.595864     0.698730
13  1983-01-01       0.449902       1.203008     0.427882
14  1984-01-01       0.347885       0.686768     0.402459

### Map of net movers by county to DeSoto County, Miss.

In [26]:
# type: ignore
acs_desoto_flows_15y.set_index('id').to_json('../data/visdata/acs_desoto_flows_15y.json')
acs_desoto_flows_15y.head(5)

### Net migration, 5-year rolling average

In [9]:
# type: ignore
acs_desoto_flows_net_shelby_rolling_avg.to_json('../data/visdata/acs_desoto_flows_net_shelby_rolling_avg.json', orient='records')
acs_desoto_flows_net_shelby_rolling_avg.head(2)

   year  shelby  no_shelby
0  2010    2145        611
1  2011    1501        140

### Black and White population percent change, year-over-year

In [10]:
# type: ignore
shelby_race_pop_percent_change.to_json('../data/visdata/shelby_race_pop_percent_change.json', orient='records')
desoto_race_pop_percent_change.to_json('../data/visdata/desoto_race_pop_percent_change.json', orient='records')

display(shelby_race_pop_percent_change.head(2))
display(desoto_race_pop_percent_change.head(2))

         date    black    white
0  2010-01-01  2.15956 -3.34521
1  2011-01-01  0.64943 -0.89416

         date    black    white
0  2010-01-01  1.94165  2.24176
1  2011-01-01  5.48313  0.87043